<section id="SignedIn" class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
	        <div class="row">

				<div class="mainPage">
					<div> <!-- Top Innerbox -->
						<p>
							Hello, test!
						</p><p>
						</p><form action="/loggingOut" method="get">
							<div>
								<input type="submit" value="Sign Out">
							</div>
						</form>
						<p>
							Type and Share!
						</p><p>
						</p><form action="/postServlet" method="post" onchange="overallTextOnChange()">
							<div>
								<textarea rows="3" cols="50" type="text" name="overallText" id="overallText" value=""></textarea>
							</div>
							<button class="btn btn-danger btn-outline" type="submit">Post</button>
							<div class="col-xs-6 col-md-6">
								<label>Facebook:</label>
								<input type="checkbox" name="fbCheckbox" id="fbCheckbox" value="checked">
								<textarea class="socialTextArea" rows="4" cols="30" type="text" name="fbText" id="fbText" value=""></textarea>
							</div>
							<div class="col-xs-6 col-md-6 col-md-offset-6">
								<label>Twitter:</label>
								<input type="checkbox" name="twitterCheckbox" id="twitterCheckbox" value="checked">
								<textarea class="socialTextArea" rows="4" cols="30" type="text" name="twitterText" id="twitterText" value=""></textarea>
							</div>
						</form>
						<p>
							Individualize:
						</p><p>



					</p><div class="col-xs-6 col-md-6 mg-btm-2">
						<h3>Facebook</h3>

								<blockquote>Sat Jul 05 22:42:00 UTC 2014</blockquote>
								<blockquote>checkmate</blockquote>

								<blockquote>Sat Jul 05 22:30:09 UTC 2014</blockquote>
								<blockquote>checkingaccount</blockquote>

								<blockquote>Sat Jul 05 22:16:25 UTC 2014</blockquote>
								<blockquote>overallSucces3</blockquote>

								<blockquote>Sat Jul 05 21:49:45 UTC 2014</blockquote>
								<blockquote>fbsuccess2</blockquote>

								<blockquote>Sat Jul 05 21:34:39 UTC 2014</blockquote>
								<blockquote>fbSUCCESS</blockquote>

								<blockquote>Thu Jul 03 21:06:35 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 21:06:24 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 20:55:14 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 20:54:55 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 20:53:10 UTC 2014</blockquote>
								<blockquote>HELLO WORLD</blockquote>

								<blockquote>Thu Jul 03 20:52:09 UTC 2014</blockquote>
								<blockquote>afsdfasdfawefawefawef</blockquote>

								<blockquote>Thu Jul 03 20:51:50 UTC 2014</blockquote>
								<blockquote>test</blockquote>

								<blockquote>Thu Jul 03 20:01:29 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 20:00:59 UTC 2014</blockquote>
								<blockquote></blockquote>

					</div>
					<div class="col-xs-6 col-md-6 col-md-offset-6 mg-btm-2">
						<h3>Twitter</h3>

								<blockquote>Sat Jul 05 22:42:00 UTC 2014</blockquote>
								<blockquote>checkmatetwitter</blockquote>

								<blockquote>Sat Jul 05 22:30:09 UTC 2014</blockquote>
								<blockquote>checkingaccount</blockquote>

								<blockquote>Sat Jul 05 22:16:25 UTC 2014</blockquote>
								<blockquote>overallSucces3</blockquote>

								<blockquote>Sat Jul 05 21:49:45 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Sat Jul 05 21:34:39 UTC 2014</blockquote>
								<blockquote>twitterSUCCESS</blockquote>

								<blockquote>Thu Jul 03 21:06:35 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 21:06:24 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 20:55:14 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 20:54:55 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 20:53:10 UTC 2014</blockquote>
								<blockquote>HELLO WORLD</blockquote>

								<blockquote>Thu Jul 03 20:52:09 UTC 2014</blockquote>
								<blockquote>afsdfasdfawefawefawef</blockquote>

								<blockquote>Thu Jul 03 20:51:50 UTC 2014</blockquote>
								<blockquote>test</blockquote>

								<blockquote>Thu Jul 03 20:01:29 UTC 2014</blockquote>
								<blockquote></blockquote>

								<blockquote>Thu Jul 03 20:00:59 UTC 2014</blockquote>
								<blockquote></blockquote>

					</div>
					</div><!--  /top innerbox -->

					<!-- <table>
						<tr>
							<td>
								<div class="facebookInfo">
									<label>Facebook:</label>
									<input type="checkbox" name="fbCheckbox" id="fbCheckbox"/>
									<textarea class="socialTextArea" rows="4" cols= "30" type="text" name= "fbText" id="fbText" value=""></textarea>

								</div>
							</td>
							<td>
								<div>
									<label>Twitter:</label>
									<input type="checkbox" name="twitterCheckbox" id="twitterCheckbox" />
									<textarea class="socialTextArea" rows="4" cols= "30" type="text" name= "twitterText" id="twitterText" value=""></textarea>
								</div>
							</td>
						</tr>
					</table> -->



				</div>
			</div>
        </div>
    </section>